<main>
  <div class="container">
    <div class="about-banner"></div>
      <div class="about-box">

        <div class="services">

          <h2>Our Mission</h2>
        </div>
        <div class="about">
          <p>Sometimes loved ones end up in tough situations that the normal options can't solve. We are dedicated to being a resource for sellers who need another way to move forwared with their lives.</p>
          <p>We are a full service real estate firm headquartered in the heart of San Francisco. Our team of experienced professionals strive to provide the highest level of service to sellers in every situation</p>
        </div>
      </div>
    </div>

  </div>
</main>

<footer>
  <div class="container">
    <div class="footer">
      <div class="header-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</footer>
