<main>
  <div class="container contact-box">
    <h2>Thank you for taking the time to learn more about us</h2>
    <p>Please reach out with any questions, comments, or feedback! <br>
      We care about creating the best experience for sellers and are always looking for new ways to innovate and provide value.
    </p>
    <p>Get in touch now - <a href="mailto:team@horizonhomes.net">team@horizonhomes.net</a></p>
  </div>
</main>

<footer>
  <div class="container">
    <div class="footer">
      <div class="header-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</footer>
