<div id="cover"></div>
<div id="modal">
	<div class="inner-modal">
    <form id="agent-request" method="post">
    		<div class="form-heading">
    		We value your privacy, all quotes are confidential
    		</div>
    		<div class="form-field">
    			<label>First Name</label><br>
    			<input type="text"
                 name="fname" />
    		</div>
    		<div class="form-field">
    			<label>Last Name</label><br>
    			<input type="text"
                 name="lname" />
    		</div>
    		<div class="form-field">
    			<label>Property Address</label><br>
    			<input type="text"
                 name="street"
                 placeholder="55 Easy Street" />
    		</div>
    		<div class="form-field">
    			<div></div><br>
    			<input type="text"
                 name="city"
                 placeholder="San Diego, CA" />
    		</div>
    		<div class="form-field">
    			<label>Email</label><br>
    			<input type="email"
                 name="email"
								 required />
    		</div>
    		<div class="form-field">
    			<label>Message</label><br>
    			<input type="text"
                 name="message">
    		</div>
				<div class="form-field">
					<div class=""></div>
					<div class="g-recaptcha"
					     data-sitekey="6Lc7ugsUAAAAAKPJlfdSns2-XlkCJ3u9_Hw17OpR"
							 data-callback="enableBtn"></div>
				</div>
				<div class="form-field">
					<div></div>
					<input class="submit" id="button" type="submit" value="submit">
				</div>
    </form>
	</div>
</div>

<main>
  <section class="banner">
    <div class="container">
      <div class="banner-top">
        <div class="banner-blurb">
          Get a cash quote for your home within 24 hours.
        </div>
      </div>
      <div class="banner-bottom">
        <h4><strong>Sell Your Home For Cash Today</strong> <br />
          Talk to our team today.
        </h4>
        <button type="button" class="edit" name="button" style="
    border-radius: 10px;
    box-shadow: -5px 5px 4px #424242;
">Get My Cash Quote</button>
				<button type="button"
								class="follow"
								name="button">
								Get My Cash Quote
				</button>

      </div>
    </div>
  </section>
  <section class="promo-box">
    <div class="container">
      <h2 class="our-value-heading">Our Value to You</h2>
			<div class="row">
				<div class="value-card" >
					<div class="value-image-container" id="no-commission"></div>
					<h2>No Commissions</h2>
					<p>You keep the full sale value! Traditional real estate agents charge 5-6% of the sale price, which is thousands of dollars you save with us</p>
				</div>
				<div class="value-card">
					<div class="value-image-container" id="quick-close"></div>
					<h2>Quick Close, No Fuss</h2>
					<p>Receive cash for the full amount of your home in 15 days. No slow bank loans that often time don't work out.</p>
				</div>
			</div>
			<div class="row">
				<div class="value-card">
					<div class="value-image-container" id="we-buy-any"></div>
					<h2>We Buy ANY Condition</h2>
					<p>Our team specializes in homes in need of fixing-up and repairs. From original condition to barely standing. Don't sweat spending money on repairs or cleaning up junk - we'll handle everything for you.</p>
				</div>
				<div class="value-card">
					<div class="value-image-container" id="no-open-houses"></div>
					<h2>No Open Houses</h2>
					<p>Avoid crowds parading through your home. Don't worry about having to clean or organize your house for groups of mostly lookers, not real buyers.</p>
				</div>
			</div>
			<div class="row">
				<div class="value-card" id="referral-card">
					<div class="value-image-container" id="cash-in"></div>
					<h2>Cash in With Our Referral Program</h2>
					<p>If we buy the home of anyone you put us in contact with, we'll give you $2,000 cash as a thank you.</p>
				</div>
			</div>
    </div>
  </section>
  <section class="carousel-box">
    <div class="container">
			<h3>A Few Homes We Have Purchased</h3>
      <div class="slider-for">
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589102/40706650_qybkqr.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481588589/40693762-2_fgwken.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589741/40717481_ra714e.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589827/40738411_loxlv3.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589891/40738023_hmx78v.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589959/40740163-4_gwhijj.jpg" />
				</div>
      </div>

      <div class="slider-nav">
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481589102/40706650_qybkqr.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481588589/40693762-2_fgwken.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_150/v1481589741/40717481_ra714e.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_150/v1481589827/40738411_loxlv3.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481589891/40738023_hmx78v.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481589959/40740163-4_gwhijj.jpg" />
        </div>
      </div>
    </div>
  </section>

	<script src="http://malsup.github.com/jquery.form.js"></script>
  <script type="text/javascript" src="slick/slick.js"></script>
  <script type="text/javascript" src="carousel.js"></script>
  <script type="text/javascript" src="modal.js"></script>
  <script type="text/javascript" src="sellButton.js"></script>
  <script type="text/javascript" src="responsiveFormInputs.js"></script>
</main>
<footer>
  <div class="container">
    <div class="footer-index">
     <!-- <div class="header-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a> -->
      </div>
    </div>
  </div>
</footer>
