<div id="cover"></div>
<div id="modal">
	<div class="inner-modal">
    <form id="agent-request" method="post">
    		<div class="form-heading">
    		Talk to an Agent
    		</div>
    		<div class="form-field">
    			<label>First Name</label><br>
    			<input type="text"
                 name="fname">
    		</div>
    		<div class="form-field">
    			<label>Last Name</label><br>
    			<input type="text"
                 name="lname">
    		</div>
    		<div class="form-field">
    			<label>Property Address</label><br>
    			<input type="text"
                 name="street"
                 placeholder="55 Easy Street">
    		</div>
    		<div class="form-field">
    			<div></div><br>
    			<input type="text"
                 name="city"
                 placeholder="San Diego, CA">
    		</div>
    		<div class="form-field">
    			<label>Email</label><br>
    			<input type="text"
                 name="email">
    		</div>
				<div class="form-field">
					<div class=""></div>
					<div class="g-recaptcha"
					     data-sitekey="6Lc7ugsUAAAAAKPJlfdSns2-XlkCJ3u9_Hw17OpR"
							 data-callback="enableBtn"></div>
				</div>
				<input class="submit" id="button" type="submit" value="submit">
    </form>
	</div>
</div>

<main>
  <section class="banner">
    <div class="container">
      <div class="banner-top">
        <div class="banner-blurb">
          You deserve the best home selling experience.
        </div>
      </div>
      <div class="banner-bottom">
        <h4><strong>Sell Your Home For Cash Today</strong> <br />
          Talk to an experienced real estate agent now.
        </h4>
        <button type="button"
                class="edit"
                name="button">
                Start Now!
        </button>
				<button type="button"
								class="follow"
								name="button">
								Start Now!
				</button>

      </div>
    </div>
  </section>
  <section class="promo-box">
    <div class="container">
      <h2 class="our-value-heading">Our Value to You</h2>
			<div class="row">
				<div class="value-card" >
					<div class="value-image-container" id="no-commission"></div>
					<h2>No Commissions</h2>
					<p>You keep the full sale value! Traditional real estate agents charge 5-6% of the sale price, which is thousands of dollars you save with us</p>
				</div>
				<div class="value-card">
					<div class="value-image-container" id="quick-close"></div>
					<h2>Quick Close, No Fuss</h2>
					<p>Receive cash for the full amount of your home in 15 days. No slow bank loans that often time don't work out.</p>
				</div>
			</div>
			<div class="row">
				<div class="value-card">
					<div class="value-image-container" id="we-buy-any"></div>
					<h2>We Buy ANY Condition</h2>
					<p>Our team specializes in homes in need of fixing-up and repairs. From original condition to barely standing. Don't sweat spending money on repairs or cleaning up junk - we'll handle everything for you.</p>
				</div>
				<div class="value-card">
					<div class="value-image-container" id="no-open-houses"></div>
					<h2>No Open Houses</h2>
					<p>Avoid crowds parading through your home. Don't worry about having to clean or organize your house for groups of mostly lookers, not real buyers.</p>
				</div>
			</div>
			<div class="row">
				<div class="value-card" id="referral-card">
					<div class="value-image-container" id="cash-in"></div>
					<h2>Cash in With Our Referral Program</h2>
					<p>If we buy the home of anyone you put us in contact with, we'll give you $2,000 cash as a thank you.</p>
				</div>
			</div>
    </div>
  </section>
	<section class="testimonial-box">
		<div class="container">
			<h3 class="testimonial-headline">Serving California since 2009</h3>
			<div class="testimonial-row">
				<div class="col">
					<div class="card">
						<div id="left-testimonial" class="card-media"></div>
						<div class="card-content">
							I was so far behind on my mortgage payments and didn't know where to turn. The bank was going to take everything if I couldn't sell quickly. My friend introduced me to We Buy Bay Area and they made me a great cash offer right away, which really saved me. Thank you again!<br /><br /> -Nancy Lopez
						</div>
					</div>
					<div class="card">
						<div class="card-content">
							My mother passed away last year and the house was in shambles. I needed to sell, but did not know where to start and it seemed like such a struggle. I contacted We Buy Bay Area and 10 days later they bought my mom's house hassel free.<br /><br /> -Joseph Williams
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-content">
							I was ready to move and met with several realtors, who all seemed nice. In this market, the homes seem to sell themselves though and giving up 6% of the money seemed like alot. With We Buy Bay Area I didn't have to give any of the value away!<br /><br /> -Walter Jefferson
						</div>
					</div>
					<div class="card">
						<div id="right-testimonial" class="card-media"></div>
						<div class="card-content">
							 I had been living in my home for a very long time, and didn't want a herd of people traipsing through it for weeks on end. My daughter contacted We Buy Bay Area and we sold the house the next week, it was alot simpler than I thought.<br /><br /> -Dolores Hubbard
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
  <section class="carousel-box">
    <div class="container">
			<h3>A Few Homes We Have Purchased</h3>
      <div class="slider-for">
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589102/40706650_qybkqr.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481588589/40693762-2_fgwken.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589741/40717481_ra714e.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589827/40738411_loxlv3.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589891/40738023_hmx78v.jpg" />
				</div>
				<div>
					<img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_780/v1481589959/40740163-4_gwhijj.jpg" />
				</div>
      </div>

      <div class="slider-nav">
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481589102/40706650_qybkqr.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481588589/40693762-2_fgwken.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_150/v1481589741/40717481_ra714e.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,w_150/v1481589827/40738411_loxlv3.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481589891/40738023_hmx78v.jpg" />
        </div>
        <div>
          <img src="http://res.cloudinary.com/dtwgk5mnq/image/upload/c_scale,h_110,w_150/v1481589959/40740163-4_gwhijj.jpg" />
        </div>
      </div>
    </div>
  </section>

	<script src="http://malsup.github.com/jquery.form.js"></script>
  <script type="text/javascript" src="slick/slick.js"></script>
  <script type="text/javascript" src="carousel.js"></script>
  <script type="text/javascript" src="modal.js"></script>
  <script type="text/javascript" src="sellButton.js"></script>
</main>
<footer>
  <div class="container">
    <div class="footer-index">
      <div class="header-links">
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</footer>
